* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(46, 45, 45, 0.856);
}

.main-box {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.topHeader {

    height: fit-content;
    width: 100%;
    height: 120px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

@media (max-width: 676px) {
    .hero {
        grid-template-columns: 1fr;
    }
}

.sidebar {

    height: fit-content;
}

.content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 10px;
}

@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 490px) {
    .sidebar {

        height: fit-content;
    }

    .hero {
        margin-top: 120px;
    }
}